body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-image: url(assets/imp.jpg);
   background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    background-color: transparent;
    backdrop-filter: blur(7px);
  }
  
.container {
    align-items: center;
    margin-top: 50pc;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffc135;
    border-radius: 5px;
    /* background-color: #f3eb07; */
}
h2 {
  text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffc135;
  }

.input-group {
 
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500;
    border-radius: 4px;
}


.submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:#ffc135;
    color: white;
    cursor: pointer;
}


.submit:hover {
    background-color:#feba1a;
}

.message {
    color: red;
    margin-top: 5px;
}
input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #f9e900;
    outline: none;
  }
 
  
